*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper{
  height: 100vh;
  background-color: rgb(219,219,210);
  background:linear-gradient(0deg, rgba(219,219,210,1) 80%, rgba(0,150,136,1) 80%);
  padding-top: 80px;
}

.container{
  width: 70%;
  height: 600px;
  min-width: 300px;
  background-image: url(img/mine.jpg);
  margin: 0 auto;
  display: flex;
}

.main-left{
  width: 30%;
  height: 100%;
  border: 1px solid black;
}

.main-right{
  width: 70%;
  height: 100%;
  border: 1px solid black;
}

.top-container{
  height: 10%;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notice{
  height: 10%;
  width: 100%;
  background-color: #8EDAFC;
}

.search{
  height: 7%;
  width: 100%;
  background-color: #EAEAEA;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts{
  width: 100%;
  height: 73%;
  background-color: white;
  padding: 10px;
}

img{
  width: 50px;
  vertical-align: middle;
  border-radius: 50px;
}

.menu-icons{
  margin: 10px;
  padding: 10px;
}

.icon{
  margin: 5px;
  cursor: pointer;
  color: gray;
}

.notice{
  display: flex;
  align-items: center;
}

.notice i{
  padding: 10px;
  background-color: white;
  border-radius: 50px;
  color: #8EDAFC;
  vertical-align: middle;
}

.notice-text{
  font-size: 14px;
}

.notice-active{
  font-size: 10px;
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.searchTerm{
  width: 90%;
  border: none;
  padding: 10px;
}

.searchButton{
  border: none;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border: 2px solid white;
}

.searchButton:hover{
  border: 2px solid black;
  border-radius: 5px;
}





